/* Resets browser defaults */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Provides a full-screen controllable area */
.empty-container {
    min-height: calc(100vh - 40px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}