nav { 
    background: var(--nav-bg); 
    padding: 10px; 
    display: flex; 
    justify-content: center; 
}

.nav-links a {
    color: var(--nav-link-color); 
    text-decoration: none; 
    margin: 0 15px; 
    font-family: sans-serif; 
    font-weight: bold; 
}

.nav-links a:hover, .nav-links a.active {
    color: #3DB5FF; 
}